<%= form_for(performance_form, :url => { :controller => :performances, action: action}, method: method) do |f| %>
  <table class="table">
    <tr>
      <td><%= f.label "プロジェクト" %></td>
      <td><%= f.select :project_id, current_user.projects.map{|p| [p.name, p.id]} %></td>
    </tr>
    <tr>
      <td><%= f.label "開始日時" %></td>
      <td>
        <%= f.datetime_local_field :start_time, :value => performance_form.generate_datetime(:start_time)  %>
      </td>
    </tr>
    <tr>
      <td><%= f.label "終了日時" %></td>
      <td>
        <%= f.datetime_local_field :end_time, :value => performance_form.generate_datetime(:end_time) %>
      </td>
    </tr>
    <tr>
      <td><%= f.label "作業内容" %></td>
      <td><%= f.text_area :content, :size => "50x10" %></td>
    </tr>
  </table>
  <%= f.submit "稼働登録", class: "btn btn-primary"%>
<% end %>
