<%= form_for(PerformanceForm.new, :url => { :controller => :performances, :action => :create }) do |f| %>
  <table class="table">
    <tr>
      <td><%= f.label "プロジェクト" %></td>
      <td><%= f.select :project_id, @user.projects.map{|p| [p.name, p.id]} %></td>
    </tr>
    <tr>
      <td><%= f.label "開始日時" %></td>
      <td>
        <%= f.select :start_date, create_date %>
        <%= f.select :start_time, create_time, :selected => "10:00" %>
      </td>
    </tr>
    <tr>
      <td><%= f.label "終了日時" %></td>
      <td>
        <%= f.select :end_date, create_date %>
        <%= f.select :end_time, create_time, :selected => "10:00" %>
      </td>
    </tr>
    <tr>
      <td><%= f.label "作業内容" %></td>
      <td><%= f.text_area :content %></td>
    </tr>
  </table>
  <%= f.submit "稼働登録", class: "btn btn-primary"%>
<% end %>
