<% provide(:title, "稼働実績詳細") %>

<table class="table unapprove_show">
  <tr>
    <td>ユーザ名</td><td><%= @performance.user.name %></td>
  </tr>
  <tr>
    <td>プロジェクト名</td><td><%= @performance.project.name %></td>
  </tr>
  <tr>
    <td>作業時間</td><td><%= @performance.start_time %> ~ <%= @performance.end_time %></td>
  </tr>
  <tr>
    <td>作業内容</td><td id="unapprove_content"><%= sanitize(simple_format(@performance.content), :tags => %w(br p)) %></td>
  </tr>
</table>

<% if current_user.admin? %>
  <%= link_to "承認", approve_performance_path(@performance), method: "patch", class: "btn btn-primary" %>
<% end %>
