<% provide(:title, "稼働実績詳細") %>

<li>ユーザ名: <%= @performance.user.name %></li>
<li>プロジェクト名:</li>
<li>作業時間: <%= @performance.start_time %> ~ <%= @performance.end_time %></li>
<li>作業内容: <%= @performance.content %></li>

<%= link_to "承認", approve_performance_path(@performance), method: "patch" %>
