<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% if signed_in? %>
      <div class="row user-info">
        <p>ユーザ名:<%= current_user.name %></p>
        <p>ユーザID:<%= current_user.email %></p>
        <p>権限: <%= current_user.authority %></p>
      </div>
      <% if current_user.admin? %>
      <div class="row">
        <ul class="buttons-for-admin">
          <li><%= link_to 'ユーザ新規作成', new_user_path, class: "btn btn-primary"%></li>
          <li><%= link_to 'ユーザ一覧', users_path, class: "btn btn-primary"%></li>  
          <li><%= link_to 'プロジェクト作成', new_project_path, class: "btn btn-primary" %></li>
          <li>
            <%= link_to unapprove_performances_path, class: "btn btn-primary" do %>
              未承認稼働実績一覧<span class="badge"><%= Performance.where(:permission => false).count %></span>
            <% end %>
          </li>
        </ul>
      </div>
      <% end %>
      <% flash.each do |key, value|  %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>

</body>
</html>
