<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <li><%= link_to "Home", user_path %></li>
  <% if signed_in? %>
    <li><%= link_to "サインアウト", signout_path, method: "delete" %></li>
    <% unless current_user.partner? %>
    <li><%= link_to 'プロジェクト', '#' %></li>
  <% end %>
  <% if current_user.admin? %>
    <li><%= link_to 'ユーザ新規作成', new_user_path %></li>
    <li><%= link_to '未承認稼働実績一覧',  unapprove_performances_path %></li>
  <% end %>
  <h1>ユーザ名:<%= current_user.name %></h1>
  <h1>ユーザID:<%= current_user.email %></h1>
  <% if current_user.admin? %>
    <h1>権限: 管理者</h1>
  <% elsif current_user.staff? %>
    <h1>権限: 社員</h1>
  <% elsif current_user.partner? %>
    <h1>権限: パートナー</h1>
  <% end %>

  <% flash.each do |key, value|  %>
    <div><%= value %></div>
  <% end %>

<% else %>
  <li><%= link_to "サインイン", signin_path %></li>
<% end %>
<%= yield %>

</body>
</html>
