<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% if signed_in? %>
      <p>ユーザ名:<%= current_user.name %></p>
      <p>ユーザID:<%= current_user.email %></p>
      <p>権限: <%= current_user.authority %></p>
      <% if current_user.admin? %>
        <p><%= link_to 'ユーザ新規作成', new_user_path, class: "btn btn-primary"%></p>
        <p><%= link_to '未承認稼働実績一覧',  unapprove_performances_path, class: "btn btn-primary" %></p>
      <% end %>
      <% flash.each do |key, value|  %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <% end %>

    <hr>

    <%= yield %>
  </div>

</body>
</html>
